doctype html
html
	head
		title Chat bot demo
		link(rel="stylesheet" href="./css/style.css")
	body
		#chatWrap
			#conversationWrap
				#chatNotify Connecting to Bot ...
			form#chatForm
				input#chatInput(placeholder="Chat now")
				input#chatSession(type="hidden")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="./js/doChat.js")
		script(type="module" src="./js/3d.js")